@model Stock_Ease.Models.User

@{
    ViewData["Title"] = "User Details";
}

<div class="container-fluid">
    <div class="card mb-4"> 
        <div class="card-body">
            <h1 class="mb-0">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
             Details for: @Model.Name 
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-start align-items-center"> 
            <a asp-action="Edit" asp-route-id="@Model?.UserId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
        </div>
    </div>
</div>
