@model Stock_Ease.Models.Transaction

@{
    ViewData["Title"] = "Transaction Details";
}

<div class="container-fluid">
    <div class="card mb-4"> 
        <div class="card-body">
            <h1 class="mb-0">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
             Details for Transaction ID: @Model.TransactionId
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class="col-sm-9">
            @Model.TransactionDate.ToString("g")
        </dd>
        <dt class="col-sm-3">
            User
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-3">
            Product
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-start align-items-center"> 
            <a asp-action="Edit" asp-route-id="@Model?.TransactionId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
        </div>
    </div>
</div>
