@model Stock_Ease.Models.Report

@{
    ViewData["Title"] = "Delete Report"; 
}

<div class="container-fluid">
    <div class="card mb-4"> 
        <div class="card-body">
            <h1 class="mb-0">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Confirm Deletion
        </div>
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Are you sure you want to delete this report?</h4>
                <p>This action cannot be undone.</p>
            </div>

            <h5 class="mt-4">Report Details:</h5>
            <dl class="row mt-3"> 
                <dt class="col-sm-3"> 
                    @Html.DisplayNameFor(model => model.ReportType)
                </dt>
                <dd class="col-sm-9"> 
                    @Html.DisplayFor(model => model.ReportType)
                </dd>
                <dt class="col-sm-3"> 
                    @Html.DisplayNameFor(model => model.GeneratedDate)
                </dt>
                <dd class="col-sm-9"> 
                    @Html.DisplayFor(model => model.GeneratedDate)
                </dd>
                <dt class="col-sm-3"> 
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-9"> 
                    @Html.DisplayFor(model => model.User.Name) 
                </dd>
            </dl>
        </div>
        <div class="card-footer"> 
            <form asp-action="Delete">
                <input type="hidden" asp-for="ReportId" />
                <input type="submit" value="Delete Report" class="btn btn-danger" /> 
                <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a> 
            </form>
        </div>
    </div>
</div>
