@model Stock_Ease.Models.Product

@{
    ViewData["Title"] = "Product Details";
    
    int lowStockThreshold = ViewData["LowStockThreshold"] as int? ?? 10;
}

<div class="container-fluid">
    <div class="card mb-4"> 
        <div class="card-body">
            <h1 class="mb-0">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Details for: @Model.Name
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Barcode)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Barcode)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                
                <dd class="col-sm-9 product-quantity @(Model.Quantity <= lowStockThreshold ? "low-stock-warning" : "")" data-product-id="@Model.ProductId">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt class="col-sm-3">
                    Current Weight
                </dt>
                <dd class="col-sm-9">
                    @Model.CurrentWeight.ToString("F2")
                </dd>

                <dt class="col-sm-3">
                    Threshold Type
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ThresholdType)
                </dd>

                <dt class="col-sm-3">
                    Minimum Threshold (@(Model.ThresholdType == "Weight" ? "Weight" : "Quantity"))
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MinimumThreshold)
                </dd>
                
                <dt class="col-sm-3">
                    Linked Sensor
                </dt>
                <dd class="col-sm-9">
                    @(Model.SensorId ?? "N/A")
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ExpiryDate)
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-start align-items-center"> 
            <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
        </div>
    </div>
</div>
