﻿<div id="nav-bar">
    
    <div id="nav-header">
        <a id="nav-title" href="@Url.Action("Index", "Home")">Stock_Ease</a>
        
        <hr>
    </div>
    <div id="nav-content">
        <div class="nav-button">
            <a href="@Url.Action("Index", "Home")">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="nav-icon">
                    <path d="M22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274" stroke="#E5E4E2" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M15 18H9" stroke="#E5E4E2" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                <span>Home</span>
            </a>
        </div>
        <div class="nav-button">
            <a href="@Url.Action("Index", "Users")">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="nav-icon">
                    <circle cx="9" cy="6" r="4" stroke="#E5E4E2" stroke-width="1.5"/>
                    <path d="M15 9C16.6569 9 18 7.65685 18 6C18 4.34315 16.6569 3 15 3" stroke="#E5E4E2" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M5.88915 20.5843C6.82627 20.8504 7.88256 21 9 21C12.866 21 16 19.2091 16 17C16 14.7909 12.866 13 9 13C5.13401 13 2 14.7909 2 17C2 17.3453 2.07657 17.6804 2.22053 18" stroke="#E5E4E2" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M18 14C19.7542 14.3847 21 15.3589 21 16.5C21 17.5293 19.9863 18.4229 18.5 18.8704" stroke="#E5E4E2" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                <span>Users</span>
            </a>
        </div>
        <div class="nav-button">
             <a href="@Url.Action("Index", "Products")">
                 <svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" class="nav-icon">
                     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                         <g fill="#E5E4E2">
                             <path d="M286,1011 C286,1012.1 285.104,1013 284,1013 L260,1013 C258.896,1013 258,1012.1 258,1011 L258,987 C258,985.896 258.896,985 260,985 L284,985 C285.104,985 286,985.896 286,987 L286,1011 L286,1011 Z M284,983 L260,983 C257.791,983 256,984.791 256,987 L256,1011 C256,1013.21 257.791,1015 260,1015 L284,1015 C286.209,1015 288,1013.21 288,1011 L288,987 C288,984.791 286.209,983 284,983 L284,983 Z M267.744,989.313 C267.35,988.921 266.71,988.921 266.315,989.313 C265.92,989.707 265.92,990.344 266.315,990.736 L274.624,999.016 L266.315,1007.29 C265.92,1007.69 265.92,1008.33 266.315,1008.72 C266.71,1009.11 267.35,1009.11 267.744,1008.72 L276.716,999.777 C276.927,999.568 277.017,999.29 277.002,999.016 C277.017,998.741 276.927,998.464 276.716,998.254 L267.744,989.313 L267.744,989.313 Z" transform="translate(-256.000000, -983.000000)"></path>
                         </g>
                     </g>
                 </svg>
                 <span>Products</span>
             </a>
        </div>
        <div class="nav-button">
            <a href="@Url.Action("Index", "Transactions")">
                 <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="nav-icon">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2929 3.29289C15.6834 2.90237 16.3166 2.90237 16.7071 3.29289L22.3657 8.95147C23.1216 9.70743 22.5862 11 21.5172 11H2C1.44772 11 1 10.5523 1 10C1 9.44772 1.44772 9 2 9H19.5858L15.2929 4.70711C14.9024 4.31658 14.9024 3.68342 15.2929 3.29289ZM4.41421 15H22C22.5523 15 23 14.5523 23 14C23 13.4477 22.5523 13 22 13H2.48284C1.41376 13 0.878355 14.2926 1.63431 15.0485L7.29289 20.7071C7.68342 21.0976 8.31658 21.0976 8.70711 20.7071C9.09763 20.3166 9.09763 19.6834 8.70711 19.2929L4.41421 15Z" fill="#E5E4E2"/>
                </svg>
                <span>Transactions</span>
            </a>
        </div>
        <div class="nav-button">
            <a href="@Url.Action("Index", "Reports")">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="nav-icon">
                    <path d="M9 21H15M9 21V16M9 21H3.6C3.26863 21 3 20.7314 3 20.4V16.6C3 16.2686 3.26863 16 3.6 16H9M15 21V9M15 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H15.6C15.2686 3 15 3.26863 15 3.6V9M15 9H9.6C9.26863 9 9 9.26863 9 9.6V16" stroke="#E5E4E2" stroke-width="1.5"/>
                </svg>
                <span>Reports</span>
            </a>
        </div>
        <div class="nav-button">
            <a href="@Url.Action("Index", "Alerts")">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="nav-icon">
                    <path d="M15 19.25C15 20.0456 14.6839 20.8087 14.1213 21.3713C13.5587 21.9339 12.7956 22.25 12 22.25C11.2044 22.25 10.4413 21.9339 9.87869 21.3713C9.31608 20.8087 9 20.0456 9 19.25" stroke="#E5E4E2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.58096 18.25C5.09151 18.1461 4.65878 17.8626 4.36813 17.4553C4.07748 17.048 3.95005 16.5466 4.01098 16.05L5.01098 7.93998C5.2663 6.27263 6.11508 4.75352 7.40121 3.66215C8.68734 2.57077 10.3243 1.98054 12.011 1.99998V1.99998C13.6977 1.98054 15.3346 2.57077 16.6207 3.66215C17.9069 4.75352 18.7557 6.27263 19.011 7.93998L20.011 16.05C20.0723 16.5452 19.9462 17.0454 19.6576 17.4525C19.369 17.8595 18.9386 18.144 18.451 18.25C14.2186 19.2445 9.81332 19.2445 5.58096 18.25V18.25Z" stroke="#E5E4E2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>Alerts</span>
            </a>
        </div>
        <div class="nav-button">
            <a href="@Url.Action("Index", "Sensors")">
                 <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128" class="nav-icon" fill="#E5E4E2">
                     <path d="M 43.34375 10.40625 C 41.126627 10.40625 39.34375 12.189126 39.34375 14.40625 L 39.34375 27.28125 L 47.34375 27.28125 L 47.34375 14.40625 C 47.34375 12.189126 45.560876 10.40625 43.34375 10.40625 z M 57.09375 10.40625 C 54.876627 10.40625 53.125 12.189126 53.125 14.40625 L 53.125 27.28125 L 61.125 27.28125 L 61.125 14.40625 C 61.125 12.189126 59.310873 10.40625 57.09375 10.40625 z M 70.90625 10.40625 C 68.689127 10.40625 66.875 12.189126 66.875 14.40625 L 66.875 27.28125 L 74.875 27.28125 L 74.875 14.40625 C 74.875 12.189126 73.123373 10.40625 70.90625 10.40625 z M 84.6875 10.40625 C 82.470377 10.40625 80.65625 12.189126 80.65625 14.40625 L 80.65625 27.28125 L 88.65625 27.28125 L 88.65625 14.40625 C 88.65625 12.189126 86.904626 10.40625 84.6875 10.40625 z M 40.875 30.0625 C 34.8802 30.0625 30.03125 34.880196 30.03125 40.875 L 30.03125 87.125 C 30.03125 93.119803 34.8802 97.96875 40.875 97.96875 L 87.125 97.96875 C 93.119802 97.96875 97.9375 93.119803 97.9375 87.125 L 97.9375 40.875 C 97.9375 34.880197 93.119802 30.0625 87.125 30.0625 L 40.875 30.0625 z M 47.21875 36.6875 C 47.401244 36.669083 47.593733 36.6875 47.78125 36.6875 C 50.781513 36.6875 53.1875 39.093486 53.1875 42.09375 L 53.1875 74.46875 C 55.53232 76.15946 57.09375 78.888406 57.09375 82 C 57.09375 87.142202 52.923452 91.3125 47.78125 91.3125 C 42.639047 91.3125 38.46875 87.142202 38.46875 82 C 38.46875 78.877944 40.016788 76.126703 42.375 74.4375 L 42.375 42.09375 C 42.375 39.281002 44.481339 36.963757 47.21875 36.6875 z M 82.15625 38.59375 C 86.085698 38.59375 89.157269 40.787212 89.46875 44.8125 L 86.03125 44.8125 C 85.504129 42.560256 84.222014 41.65625 82.28125 41.65625 C 79.453964 41.65625 77.75 43.829932 77.75 47.6875 C 77.75 51.497148 79.376884 53.625 82.15625 53.625 C 84.384534 53.625 85.81561 52.603284 86.03125 50.375 L 89.53125 50.375 C 89.31561 54.376328 86.399269 56.65625 82.0625 56.65625 C 77.19861 56.65625 74.15625 53.231651 74.15625 47.625 C 74.15625 41.970429 77.22048 38.59375 82.15625 38.59375 z M 68.3125 39.28125 C 70.205344 39.28125 71.75 40.825906 71.75 42.71875 C 71.75 44.611594 70.205344 46.15625 68.3125 46.15625 C 66.419656 46.15625 64.875 44.611594 64.875 42.71875 C 64.875 40.825906 66.419656 39.28125 68.3125 39.28125 z M 14.40625 39.34375 C 12.189125 39.34375 10.40625 41.095375 10.40625 43.3125 C 10.40625 45.529622 12.189125 47.34375 14.40625 47.34375 L 27.28125 47.34375 L 27.28125 39.34375 L 14.40625 39.34375 z M 100.71875 39.34375 L 100.71875 47.34375 L 113.59375 47.34375 C 115.81087 47.34375 117.59375 45.560873 117.59375 43.34375 C 117.59375 41.126628 115.81087 39.34375 113.59375 39.34375 L 100.71875 39.34375 z M 68.3125 40.625 C 67.162418 40.625 66.21875 41.568668 66.21875 42.71875 C 66.21875 43.868832 67.162418 44.8125 68.3125 44.8125 C 69.462582 44.8125 70.40625 43.868832 70.40625 42.71875 C 70.40625 41.568668 69.462582 40.625 68.3125 40.625 z M 14.40625 53.125 C 12.189125 53.125 10.40625 54.876626 10.40625 57.09375 C 10.40625 59.310873 12.189125 61.125 14.40625 61.125 L 27.28125 61.125 L 27.28125 53.125 L 14.40625 53.125 z M 100.71875 53.125 L 100.71875 61.125 L 113.59375 61.125 C 115.81087 61.125 117.59375 59.310873 117.59375 57.09375 C 117.59375 54.876626 115.81087 53.125 113.59375 53.125 L 100.71875 53.125 z M 14.40625 66.875 C 12.189125 66.875 10.40625 68.689127 10.40625 70.90625 C 10.40625 73.123373 12.189125 74.875 14.40625 74.875 L 27.28125 74.875 L 27.28125 66.875 L 14.40625 66.875 z M 100.71875 66.875 L 100.71875 74.875 L 113.59375 74.875 C 115.81087 74.875 117.59375 73.123373 117.59375 70.90625 C 117.59375 68.689127 115.81087 66.875 113.59375 66.875 L 100.71875 66.875 z M 14.40625 80.65625 C 12.189125 80.65625 10.40625 82.439127 10.40625 84.65625 C 10.40625 86.873373 12.189125 88.65625 14.40625 88.65625 L 27.28125 88.65625 L 27.28125 80.65625 L 14.40625 80.65625 z M 100.71875 80.65625 L 100.71875 88.65625 L 113.59375 88.65625 C 115.81087 88.65625 117.59375 86.904623 117.59375 84.6875 C 117.59375 82.470377 115.81087 80.65625 113.59375 80.65625 L 100.71875 80.65625 z M 39.34375 100.71875 L 39.34375 113.59375 C 39.34375 115.81087 41.095377 117.59375 43.3125 117.59375 C 45.529625 117.59375 47.34375 115.81087 47.34375 113.59375 L 47.34375 100.71875 L 39.34375 100.71875 z M 53.125 100.71875 L 53.125 113.59375 C 53.125 115.81087 54.876626 117.59375 57.09375 117.59375 C 59.310873 117.59375 61.125 115.81087 61.125 113.59375 L 61.125 100.71875 L 53.125 100.71875 z M 66.875 100.71875 L 66.875 113.59375 C 66.875 115.81087 68.689127 117.59375 70.90625 117.59375 C 73.123373 117.59375 74.875 115.81087 74.875 113.59375 L 74.875 100.71875 L 66.875 100.71875 z M 80.65625 100.71875 L 80.65625 113.59375 C 80.65625 115.81087 82.439127 117.59375 84.65625 117.59375 C 86.873374 117.59375 88.65625 115.81087 88.65625 113.59375 L 88.65625 100.71875 L 80.65625 100.71875 z "/>
                 </svg>
                <span>Sensors</span>
            </a>
        </div>

        <div id="nav-content-highlight"></div>
    </div>
    <input id="nav-footer-toggle" type="checkbox">
    <div id="nav-footer">
        <div id="nav-footer-heading">
            <div id="nav-footer-avatar">
                <img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547" alt="Avatar">
            </div>
            <div id="nav-footer-titlebox">
                <a id="nav-footer-title" href="#">Shaambhav</a>
                <span id="nav-footer-subtitle">Admin</span>
            </div>
            <label for="nav-footer-toggle">
                <i class="fas fa-caret-up"></i>
            </label>
        </div>
        <div id="nav-footer-content">
        </div>
    </div>
</div>